@import "../Variables/Variables.scss";

.heroText {
  right: 0% !important;
  text-align: left !important;
  padding-bottom: 15vh !important;
  max-width: 450px;
}
.heroTitle {
  font-size: 300%;
}
@media (max-width: 768px) {
  .heroText {
    padding-bottom: 1.25rem !important;
    text-align: center !important;
  }
}
@media (max-width: 1024px) {
  .heroText {
    text-align: center !important;
    padding: 12vw !important;
  }
}

.carouselDiv > div > div > button {
  div {
    div {
      button {
        background-color: $greyColor !important;
        border-radius: 50% !important;
        height: 10px !important;
        width: 10px !important;
        margin-right: 6px !important;
        margin-left: 6px !important;
        top: 600px !important;
        opacity: $opacityGlobal;
      }
    }
  }
  font-family: $fontSpring;
}
.carousel-indicators {
  top: 590px !important;
}

.right.carousel-control,
.left.carousel-control {
  display: none !important;
}
.carousel .carousel-control {
  visibility: hidden !important;
}
